<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/index :: dynamic(~{::main})}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<head>
</head>
<body>
<div th:fragment="main">
    <script th:src="@{/user/layout-js/user/ThongKe/ThongKe.js}"></script>
    <script>
        const serviceThongKe = new ThongKe()
        $(document).ready(() => {
            serviceThongKe.loadInit()
        })
    </script>
    <div class="row">
        <div class="col-3 d-flex align-items-center justify-content-center">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="selectHocKy" class="col-form-label fw-bold fs-5">Học kỳ:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" id="selectHocKy">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="selectMonHoc" class="col-form-label fw-bold fs-5">Môn học:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" id="selectMonHoc">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-dark rounded rounded-circle" onclick="serviceThongKe.getDataChart()"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-4"><canvas id="myChart" width="200px" height="100px"></canvas></div>
        <div class="col-8"><canvas id="barChart" width="200px" height="100px"></canvas></div>
    </div>
</div>
</body>
</html>