<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/index :: dynamic(~{::main})}">
<head>
</head>
<body>
    <div th:fragment="main">
        <link rel="stylesheet" th:href="@{/user/layout-css/user/home.css}">
        <script th:src="@{/user/layout-js/user/Home.js}"></script>
        <script>
            const serviceHome = new Home()
            $(document).ready(() => {
                serviceHome.loadInit()
            })
        </script>
        <div class="container">
            <div class="col-md-8">
                <div class="planner">
                    <div class="calendar-grid" id="calendar"></div>
                    <div id="addTaskModal" class="taskModal">
                        <span class="close" onclick="serviceHome.closeAddTaskModal()"><i class="bi bi-x-lg"></i></span>
                        <h2>ADD TASK</h2>
                        <input type="date" id="task-date">
                        <input type="text" id="task-desc" placeholder="Description">
                        <button class="add-task-btn" onclick="serviceHome.showAddTaskModal()">Add task</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</body>
</html>