.form-login {
    background-color: rgba(18, 88, 133, 0.5);
    border: 1px solid rgba(18, 88, 133, 1);
    border-radius: 15px;
    padding: 1.5rem;
}

.btn-login {
    color: white;
}

.btn-login:hover {
    border: 1px solid rgba(18, 88, 133, 1);
    color: black;
}

.btnShowPassword:hover {
    color: black;
}

.btnShowPassword:focus {
    border: none;
}
